<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
              xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@drawable/background_started">
    <android.support.design.widget.AppBarLayout
        android:layout_height="wrap_content"
        android:layout_width="match_parent"
        android:id="@+id/toolbar_layout">
        <include
            android:id="@+id/toolbar"
            layout="@layout/toolbar"
            app:layout_scrollFlags="scroll|enterAlways" />
    </android.support.design.widget.AppBarLayout>
    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:paddingLeft="24dp"
            android:paddingRight="24dp"
            android:paddingTop="24dp"
            android:orientation="vertical">
        <!-- FirstName Label -->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/black"
                android:text="Firstname"
                android:singleLine="true" />
            <android.support.design.widget.TextInputEditText
                android:id="@+id/input_FirstName"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:padding="4dp"
                android:lines="1"
                android:hint="First Name"
                android:inputType="textEmailAddress"
                android:textColorHint="@color/et_textColor"
                android:textColor="@color/et_textColor"
                android:background="@drawable/edittext_selector"
                android:selectAllOnFocus="true"
                android:layout_marginBottom="8dp"
                android:gravity="center_horizontal|center_vertical" />
        <!-- LastName Label -->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/black"
                android:text="Lastname"
                android:singleLine="true" />
            <android.support.design.widget.TextInputEditText
                android:id="@+id/input_LastName"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColorHint="@color/et_textColor"
                android:padding="4dp"
                android:hint="Last Name"
                android:lines="1"
                android:textColor="@color/et_textColor"
                android:background="@drawable/edittext_selector"
                android:gravity="center_horizontal|center_vertical"
                android:layout_marginBottom="8dp" />
        <!--Gender-->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/black"
                android:text="Gender"
                android:singleLine="true" />
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:weightSum="100"
                android:layout_marginBottom="8dp">
                <Spinner
                    android:padding="4dp"
                    android:background="@drawable/spinner_background"
                    android:id="@+id/input_Gender"
                    android:layout_width="match_parent"
                    android:textColorHint="@color/et_textColor"
                    android:layout_height="match_parent"
                    android:gravity="center_horizontal|center_vertical"
                    android:prompt="@string/gender"
                    android:layout_weight="99" />
                <ImageView
                    android:padding="4dp"
                    android:src="@drawable/do_not_match"
                    android:layout_height="wrap_content"
                    android:layout_width="wrap_content"
                    android:layout_weight="1"
                    android:id="@+id/pairing_detial_gender_image" />
            </LinearLayout>
        <!-- Birthday -->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/black"
                android:text="Birthday"
                android:singleLine="true" />
            <android.support.design.widget.TextInputEditText
                android:id="@+id/input_birthday"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColorHint="@color/et_textColor"
                android:lines="1"
                android:padding="4dp"
                android:hint="birthday"
                android:textColor="@color/et_textColor"
                android:background="@drawable/edittext_selector"
                android:gravity="center_horizontal|center_vertical"
                android:layout_marginBottom="8dp" />
        <!-- Height -->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/black"
                android:text="Height"
                android:singleLine="true" />
            <android.support.design.widget.TextInputEditText
                android:id="@+id/input_height"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColorHint="@color/et_textColor"
                android:lines="1"
                android:padding="4dp"
                android:hint="Height in Cm"
                android:textColor="@color/et_textColor"
                android:background="@drawable/edittext_selector"
                android:gravity="center_horizontal|center_vertical"
                android:inputType="number"
                android:layout_marginBottom="8dp" />
        <!--Weight-->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/black"
                android:text="Weight"
                android:singleLine="true" />
            <android.support.design.widget.TextInputEditText
                android:id="@+id/input_Weight"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColorHint="@color/et_textColor"
                android:lines="1"
                android:padding="4dp"
                android:inputType="number"
                android:hint="Weight in Kg"
                android:textColor="@color/et_textColor"
                android:gravity="center_horizontal|center_vertical"
                android:background="@drawable/edittext_selector"
                android:layout_marginBottom="8dp" />
        <!--Language-->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/black"
                android:text="Language"
                android:singleLine="true" />
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:weightSum="100"
                android:layout_marginBottom="8dp">
                <Spinner
                    android:background="@drawable/spinner_background"
                    android:id="@+id/input_language"
                    android:padding="4dp"
                    android:layout_width="fill_parent"
                    android:textColorHint="@color/et_textColor"
                    android:layout_height="match_parent"
                    android:layout_weight="99"
                    android:gravity="center_horizontal|center_vertical"
                    android:prompt="@string/Language_prompt" />
                <ImageView
                    android:padding="4dp"
                    android:src="@drawable/do_not_match"
                    android:layout_height="wrap_content"
                    android:layout_width="wrap_content"
                    android:layout_weight="1"
                    android:id="@+id/pairing_detial_language_image" />
            </LinearLayout>
        <!--Haircolor-->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/black"
                android:text="Haircolor"
                android:singleLine="true" />
            <android.support.design.widget.TextInputEditText
                android:id="@+id/input_Haircolor"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColorHint="@color/et_textColor"
                android:lines="1"
                android:padding="4dp"
                android:hint="Haircolor"
                android:textColor="@color/et_textColor"
                android:background="@drawable/edittext_selector"
                android:gravity="center_horizontal|center_vertical"
                android:layout_marginBottom="8dp" />
        <!--Swim experience-->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/black"
                android:text="Swim experience"
                android:singleLine="true" />
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:weightSum="100"
                android:layout_marginBottom="8dp">
                <Spinner
                    android:background="@drawable/spinner_background"
                    android:padding="4dp"
                    android:id="@+id/input_SwimExperience"
                    android:textColorHint="@color/et_textColor"
                    android:layout_weight="99"
                    android:layout_width="fill_parent"
                    android:layout_height="match_parent"
                    android:gravity="center_horizontal|center_vertical"
                    android:prompt="@string/swim_experience" />
                <ImageView
                    android:padding="4dp"
                    android:src="@drawable/do_not_match"
                    android:layout_height="wrap_content"
                    android:layout_width="wrap_content"
                    android:layout_weight="1"
                    android:id="@+id/pairing_detial_swim_exp_image" />
            </LinearLayout>
        <!--Sea experience-->
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:textColor="@color/black"
                android:text="Sea experience"
                android:singleLine="true" />
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:weightSum="100"
                android:layout_marginBottom="8dp">
                <Spinner
                    android:background="@drawable/spinner_background"
                    android:padding="4dp"
                    android:id="@+id/input_SeaExperience"
                    android:textColorHint="@color/et_textColor"
                    android:layout_weight="99"
                    android:layout_width="fill_parent"
                    android:layout_height="match_parent"
                    android:gravity="center_horizontal|center_vertical"
                    android:prompt="@string/sea_experience" />
                <ImageView
                    android:padding="4dp"
                    android:src="@drawable/do_not_match"
                    android:layout_height="wrap_content"
                    android:layout_width="wrap_content"
                    android:layout_weight="1"
                    android:id="@+id/pairing_detial_sea_exp_image" />
            </LinearLayout>
        <!--Finish Editting button-->
            <Button
                android:padding="10dp"
                android:id="@+id/Edit_button"
                android:layout_height="wrap_content"
                android:layout_width="match_parent"
                android:background="@drawable/green_button_selector"
                android:textColor="@android:color/white"
                android:gravity="center_horizontal|center_vertical"
                android:text="Done"
                android:layout_marginBottom="8dp" />
        </LinearLayout>
    </ScrollView>
</LinearLayout>