<?xml version="1.0" encoding="utf-8"?>
<FrameLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:id="@+id/main_content"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:focusableInTouchMode="true">
    <ImageView
        android:src="@drawable/background_started"
        android:scaleType="centerCrop"
        android:layout_width="match_parent"
        android:layout_height="match_parent" />
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="match_parent">
        <ImageView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:scaleType="fitCenter"
            android:src="@drawable/logo"
            android:paddingLeft="116dp"
            android:paddingRight="116dp"
            android:paddingTop="20dp"
            android:layout_gravity="center"
            android:adjustViewBounds="true" />
        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:orientation="vertical"
            android:paddingLeft="24dp"
            android:paddingRight="24dp"
            android:paddingTop="24dp">
        <!-- Email Label -->
            <android.support.design.widget.TextInputEditText
                android:id="@+id/input_email"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:padding="4dp"
                android:inputType="textEmailAddress"
                android:hint="log in - Email"
                android:textColor="@color/et_textColor"
                android:background="@drawable/edittext_selector"
                android:layout_marginBottom="8dp"
                android:selectAllOnFocus="true"
                android:gravity="center_horizontal|center_vertical" />
        <!-- Password Label -->
            <android.support.design.widget.TextInputEditText
                android:id="@+id/input_password"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:padding="4dp"
                android:inputType="textPassword"
                android:hint="Log in - Password"
                android:textColor="@color/et_textColor"
                android:background="@drawable/edittext_selector"
                android:gravity="center_horizontal|center_vertical"
                android:selectAllOnFocus="true" />
            <TextView
                android:id="@+id/link_signup"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:layout_marginBottom="24dp"
                android:text="No account yet? Create one"
                android:gravity="center_horizontal"
                android:textSize="16sp"
                android:textColor="@drawable/tab_text_selector" />
            <TextView
                android:id="@+id/link_PasswordRecovery"
                android:layout_width="fill_parent"
                android:layout_height="wrap_content"
                android:layout_marginTop="24dp"
                android:text="Forgot password?"
                android:gravity="center_horizontal"
                android:textSize="16sp"
                android:textColor="@drawable/tab_text_selector" />
        </LinearLayout>
    </LinearLayout>
</FrameLayout>