<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="fill_parent"
    android:layout_height="60dp"
    android:orientation="horizontal">
    <ImageView
        android:layout_width="53dp"
        android:paddingTop="10dp"
        android:paddingBottom="12dp"
        android:layout_height="match_parent"
        android:src="@drawable/ic_friends_ghost_image_blue3x"
        android:paddingLeft="15dp"
        android:id="@+id/friendRquest_sent_friend_image"
        android:scaleType="fitXY" />
    <LinearLayout
        android:layout_toRightOf="@id/friendRquest_sent_friend_image"
        android:id="@+id/friendRequest_sent_friend_text_layout"
        android:layout_width="fill_parent"
        android:layout_height="wrap_content"
        android:layout_gravity="bottom"
        android:orientation="vertical"
        android:paddingTop="8dp"
        android:paddingBottom="8dp"
        android:paddingLeft="10dp"
        android:paddingRight="16dp">
        <TextView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:textAppearance="@style/TextAppearance.AppCompat.Subhead"
            android:textColor="@color/primary_text"
            android:textStyle="bold"
            android:text="Boatname"
            android:id="@+id/friendRequest_sent_friend_text_boat_name" />
        <TextView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:textAppearance="@style/TextAppearance.AppCompat.Subhead"
            android:textColor="@color/primary_text"
            android:text="Username"
            android:id="@+id/friendRequest_sent_friend_text_username" />
    </LinearLayout>
    <FrameLayout
        android:layout_centerVertical="true"
        android:paddingRight="10dp"
        android:layout_alignParentEnd="true"
        android:layout_width="80dp"
        android:layout_height="30dp">
        <Button
            android:layout_centerVertical="true"
            android:layout_alignParentEnd="true"
            android:layout_width="70dp"
            android:layout_height="30dp"
            android:background="@drawable/red_button_selector"
            android:clickable="true"
            android:id="@+id/cancel_friend_request_button"
            android:text="Cancel"
            android:textColor="#ffffff"
            android:textAppearance="@style/TextAppearance.AppCompat.Subhead" />
    <!--  <FrameLayout
            android:id="@+id/cancel_friend_request_button"
            android:layout_centerVertical="true"
            android:layout_alignParentEnd="true"
            android:layout_width="70dp"
            android:layout_height="30dp"
            android:background="#cf3619">
            <TextView
                android:layout_gravity="center"
                android:layout_height="wrap_content"
                android:layout_width="wrap_content"
                android:text="Cancel"
                android:textAppearance="@style/TextAppearance.AppCompat.Subhead" />
        </FrameLayout> -->
    </FrameLayout>
    <FrameLayout
        android:layout_alignLeft="@id/friendRequest_sent_friend_text_layout"
        android:layout_alignBottom="@id/friendRquest_sent_friend_image"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:paddingLeft="10dp">
        <View
            android:background="#929497"
            android:layout_width="match_parent"
            android:layout_height="1dp" />
    </FrameLayout>
</RelativeLayout>