<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/right_chat_linear_layout"
        android:gravity="right">
        <TextView
            android:id="@+id/right_text_box_userName"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginRight="10dp"
            android:layout_marginLeft="10dp"
            android:text="Test Username"
            android:textSize="12dp"
            android:maxLines="1"
            android:singleLine="true" />
        <TextView
            android:padding="10dp"
            android:text="Test Main Text"
            android:id="@+id/right_text_box_message"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:maxWidth="230dp"
            android:layout_marginLeft="10dp"
            android:layout_marginRight="10dp"
            android:paddingLeft="10dp" />
    </LinearLayout>
    <TextView
        android:layout_below="@id/right_chat_linear_layout"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:id="@+id/right_text_box_date"
        android:layout_marginRight="11dp"
        android:maxLines="1"
        android:layout_alignParentRight="true"
        android:text="01/012017 0:00"
        android:textSize="8dp" />
</RelativeLayout>